body
    margin: 0 !important
    padding: 0 !important
    font-family: 'Open Sans', sans-serif
    font-family: 'Ubuntu', sans-serif
    .App
        .top-app-wrapper
            padding: 10px
            font-size: 1.7rem
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            &:after
                content: '',
                background: black,
                width: 20vw,
                height: 1px,
                margin-top: 10px,
                box-shadow: 1px 0px 10px
        .top-bar-wrapper
            width: 100%
            display: flex
            justify-content: center
            background: #bbcccc
            top: 0
            position: sticky
            .top-bar-score
                width: max-content
        .app-wrapper
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center 
            padding-bottom: 20px
        