body
    margin: 0
    padding: 0
    font-family: 'Open Sans', sans-serif
    font-family: 'Ubuntu', sans-serif
    .top-app-wrapper
        // background: red
        padding: 10px
        font-size: 1.7rem
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        &:after
            content: '',
            background: black,
            width: 20vw,
            height: 1px,
            margin-top: 10px,
            box-shadow: 1px 0px 10px